{% ckan_extends %}

      {% block header_site_search %}
        <form class="section site-search simple-input" action="{% url_for controller='package', action='search' %}" method="get">
          <div class="field">
            <label for="field-sitewide-search">{{ _('Search Datasets') }}</label>
            <input id="field-sitewide-search" type="text" name="q"/>
            <label for="sitewide-search-button">{{ _('Search Button') }}</label>
            <button class="btn-search" type="submit" id="sitewide-search-button" ><i class="icon-search"></i></button>          </div>
        </form>
      {% endblock %}
